<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSLocalNetworkUsageDescription</key>
  <string>DashDrop uses local network discovery to find nearby devices for secure file transfer.</string>
  <key>NSBonjourServices</key>
  <array>
    <string>_dashdrop._udp</string>
  </array>
</dict>
</plist>
